{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% include '@App/chart/index.html.twig' %}
            {% else %}
                Please log in for view your chart.
            {% endif %}
        </div>
    </div>
{% endblock %}

